{% extends 'layouts/bloglist-base.html' %}

{% block page_content %}
      <div class="p-4 border" style="background-color: ghostwhite;">
          <h4 class='text-secondary border-bottom border-3 pb-3 mb-4 d-flex justify-content-between'>
            <div class="">
              <i class="fas fa-warehouse"></i> &nbsp; &nbsp;
                {{header|default:'Recent Blog Posts'}}
            </div>
            {% if display_num_blogs %}
            <div class="badge bg-gradient-info">{{user.number_of_blogs}} Blogs Created</div>
            {% endif %}
          </h4>
          {% for blog in blogs %}
            {% include 'includes/blog.html' %}
          {% endfor %}
      </div>
{% endblock page_content %}
